@import 'tailwindcss';

@font-face {
  font-family: 'Open Sans';
  src:
    url('./assets/fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('./assets/fonts/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('./assets/fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('./assets/fonts/Inter/Inter_24pt-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Inter/Inter_24pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aclonica';
  src:
    url('./assets/fonts/Aclonica/Aclonica-Regular.woff2') format('woff2'),
    url('./assets/fonts/Aclonica/Aclonica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-primary: 'Open Sans', 'sans-serif';
  --font-second: 'Aclonica', 'sans-serif';
  --font-third: 'Inter', 'sans-serif';

  --color-fire: #aa4700;
  --color-tenn: #cf5600;
  --color-fiery-orange: #b74c00;
  --color-mineShaft: #2f2f2f;
  --color-alabaster: #f9f9f9;
  --color-cod-gray: #0f0f0f;
  --color-dust-gray: #808080;
  --color-mist-gray: #989898;
  --color-storm-gray: #656565;
  --color-chicago-gray: #5b5959;
  --color-red-beech: #6d2e01;
  --color-fiery-tenn: #ce5601;
  --color-red-tenn: #bf0000;
  --color-picton-blue: #54a9ea;
  --color-hot-cinnamon-500: #d9732b;
  --color-disabled: rgba(217, 115, 43, 0.46);
  --color-shark: #272727;
  --color-peru-tan: #803500;
  --color-ecstasy: #ff7b1c;
  --color-peru-tan-tan: #893900;
  --color-black: #000000;

  --shadow-box: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-shark: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-smoke: 0 1px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-filter: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  --shadow-tooltip: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-fire: 0 0 4px 1px rgba(207, 86, 0, 0.8);
  --shadow-faq: 0 1px 5px 4px rgba(0, 0, 0, 0.25);
  --shadow-inset-shark: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-inset-thin: inset 0 0px 1px 0 rgba(0, 0, 0, 0.25);
  --shadow-inset-language: inset 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-inset-mobile-logo: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

@layer utilities {
  .bg-hero-gradient {
    background: linear-gradient(
      191deg,
      #803500 18.51%,
      #ff7b1c 53.85%,
      #893900 89.9%
    );
  }
  @media (min-width: 1280px) {
    .bg-hero-gradient {
      background: linear-gradient(
        226deg,
        #803500 18.51%,
        #ff7b1c 53.85%,
        #893900 89.9%
      );
    }
  }

  .bg-footer-gradient {
    background: linear-gradient(360deg, #6d2e01 0%, #ce5601 100%);
  }
}

@layer base {
  html {
    @apply font-sans;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  }

  body {
    @apply font-primary text-cod-gray bg-alabaster text-base leading-[1.37];
    scrollbar-gutter: stable;
  }
}

button:not(:disabled) {
  cursor: pointer;
}

@layer components {
  .section-wrap {
    @apply mx-auto w-full max-w-[375px] px-4 pt-10 pb-9 xl:max-w-7xl xl:px-30 xl:pt-17 xl:pb-18;
  }
  .btn {
    @apply bg-tenn text-alabaster h-[40px] rounded-2xl px-5 transition-shadow duration-300 ease-in-out xl:min-w-[200px];
  }

  .btn:hover,
  .btn:focus {
    @apply shadow-shark outline-none;
  }

  .btn:active {
    box-shadow: var(--shadow-inset-shark);
  }

  .btn-lg {
    @apply min-w-[304px];
  }

  .btn-2lg {
    @apply min-h-[66px] min-w-[303px] text-[22px] xl:min-h-[68px] xl:min-w-[304px] xl:text-xl;
  }

  .btn-disabled {
    @apply bg-disabled cursor-not-allowed;

    @variant hover {
      @apply shadow-none;
    }

    @variant active {
      @apply shadow-none;
    }
  }

  .btn-google-disabled {
    @apply text-dust-gray bg-alabaster border-dust-gray border-2;
  }

  .btn-icon {
    @apply relative flex items-center justify-center pl-7;
  }

  .input-base {
    @apply border-tenn/40 caret-fire placeholder-storm-gray focus:border-tenn relative min-h-10 w-full rounded-2xl border-2 px-5 text-sm placeholder:text-sm focus:outline-none xl:text-base xl:placeholder:text-base;
  }

  .book-radio-btn {
    @apply border-fire checked:bg-alabaster checked:border-fire relative h-[21px] w-[21px] cursor-pointer appearance-none rounded-full border-2 transition-all duration-300 ease-in-out focus:outline-none;
  }

  .book-radio-btn:focus-visible {
    @apply ring-fire ring-2 ring-offset-2;
  }

  .book-radio-btn:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--color-tenn);
  }

  .no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }

  .book-checkbox-btn + span {
    @apply border-fire fill-none;
  }

  .book-checkbox-btn:checked + span {
    @apply bg-tenn fill-alabaster border-tenn;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--color-alabaster) inset !important;
    -webkit-text-fill-color: inherit !important;
  }
}
